body {
    background-color: #a39f5f;
}

.form
{
    position: absolute;
    top: 25%;
    left: 35%;
    width: 50%;
}

h1 {
color: #000000;
text-align: center;
font-family: 'Courier New', Courier;
}

input[type=text], input[type=number], input[type=submit] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border:1px solid #ccc;
    border-radius: 4px;
    box-sizing:border-box;
}

input[type=submit] {
    background-color: #0fdc19fb;
    font-family: 'Courier New', Courier; 
}

input[type=submit]:hover {
    box-shadow: 3px 3px;
}
