* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background: #000;
    width: 15%;
    height: 100%;
    position: fixed;
}

ul.menu li {
    list-style: none; /* Remove list-style bullets */
}

ul.menu li a {
    display: block;
    color: white;
    padding: 15px 10px;
    text-decoration: none; /* Remove underline from links */
}

ul.menu li.active {
    background-color: red; /* Set background color for active <li> */
}

/* CSS for hiding the sub-menu by default */
.insert-sub {
    display: none;
}

/* CSS for showing the sub-menu when it has the 'show' class */
.insert-sub.show {
    display: block;
}

.insert-sub.show a{
   padding: 15px 20px;
}

